.grid{
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 21px;

    @media (min-width: 640px){
        grid-template-columns: 1fr 0.25fr 0.6fr 1fr 0.25fr 0.6fr 1fr;
    }  

    @media (min-width: 1300px){
        grid-template-columns: 1fr 1fr 0.25fr 0.6fr 1fr 0.6fr 0.25fr 1fr 1fr;
    }  
}

//Mobile
.grid>*{
    grid-column-start: 1;
    grid-column-end: -1;
}

.mgrid-start-2{
    grid-column-start: 2;
}

.mgrid-end-2{
    grid-column-end: -2;
}

//Tablette
@media (min-width: 640px){
    .grid--dense{
        grid-auto-flow: dense;
    }

    .grid>*{
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .tgrid-start-1{
        grid-column-start: 1;
    }

    .tgrid-start-3{
        grid-column-start: 3;
    }

    .tgrid-start-4{
        grid-column-start: 4;
    }

    .tgrid-start-5{
        grid-column-start: 5;
    }

    .tgrid-end-1{
        grid-column-end: -1;
    }
    
    .tgrid-end-2{
        grid-column-end: -2;
    }
    
    .tgrid-end-3{
        grid-column-end: -3;
    }

    .tgrid-end-5{
        grid-column-end: -5;
    }
}

//Desktop
@media (min-width: 1300px){

    .grid>*{
        grid-column-start: 3;
        grid-column-end: -5;
    }

    .dgrid-start-1{
        grid-column-start: 1;
    }

    .dgrid-start-2{
        grid-column-start: 2;
    }

    .dgrid-start-4{
        grid-column-start: 4;
    }

    .dgrid-start-5{
        grid-column-start: 5;
    }

    .dgrid-start-6{
        grid-column-start: 6;
    }

    .dgrid-start-7{
        grid-column-start: 7;
    }

    .dgrid-start-8{
        grid-column-start: 8;
    }

    .dgrid-start-9{
        grid-column-start: 9;
    }

    .dgrid-end-1{
        grid-column-end: -1;
    }

    .dgrid-end-2{
        grid-column-end: -2;
    }

    .dgrid-end-3{
        grid-column-end: -3;
    }

    .dgrid-end-4{
        grid-column-end: -4;
    }

    .dgrid-end-5{
        grid-column-end: -5;
    }

    .dgrid-end-6{
        grid-column-end: -6;
    }

    .dgrid-end-7{
        grid-column-end: -7;
    }

    .dgrid-end-8{
        grid-column-end: -8;
    }

    .dgrid-end-9{
        grid-column-end: -9;
    }

    .dgrid-order{
       order: 1;
    }
}